*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

img {
    height: 20vh;
    position: center;
    margin: 20px;
}
img:hover{
    z-index: 2;
    border-radius: 5%;
    box-shadow: 0 0 40px 20px #D4D45B;
    height: 22vh;
}