* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100vh;
  background: #000000;
  display: flex;
}

.board {
  display: flex;
  border: 5px solid #ff0000;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;
}
.card {
  border: 2px solid #ff0000;
  background: none;
  width: 10rem;
  height: 0.3rem;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card.flip {
  transform: rotateY(180deg);
}
img {
  height: auto;
  width: 100%;
  position: relative;
  border-radius: 7%;
}
img:hover {
  box-shadow: 0 0 20px 20px #d4d45b;
}
.card:active {
  transform: scale(0.97);
  transition: transform 0.5s;
}
.front {
  transform: rotateY(180deg);
}
.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}
#board {
  border: 2px solid #25d8db;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 8rem;
  width: 55%;
}
/* Breakpoints set for the #board on mobile devices in chrome developer tools*/
@media (min-width: 280px) {
  #board {
    height: 100vh;
    width: 18%;
  }
}
@media (min-width: 320px) {
  #board {
    height: 7rem;
    width: 50%;
  }
}
@media (min-width: 361px) {
  #board {
    height: 8rem;
    width: 49%;
  }
}
@media (min-width: 411px) {
  #board {
    height: 13rem;
    width: 43%;
  }
}
@media (min-width: 450px) {
  #board {
    height: 9rem;
    width: 47%;
  }
}
/* bOOTSTRAP CUSTOM UPPERBOUND BREAK POINTS FOR RESPONSIVE DESIGN */

/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  .card {
    height: auto;
    width: 4.7rem;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card {
    height: auto;
    width: 4.5rem;
  }
  #board {
    height: 11rem;
    width: 44%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    height: auto;
    width: 6rem;
  }
  #board {
    height: 13rem;
    width: 48%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    width: 10rem;
    height: 0.3rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #board {
    height: 13rem;
    width: 48%;
  }
}
